<div class="breaktime-container">
    <div class="breaktime-player-list">
        {{#each players}}
        <div class="breaktime-player">
            <div class="breaktime-avatar">
                <img src="{{avatar}}" />
            </div>
            <div class="breaktime-details">
                <div class="breaktime-name">
                    {{name}} [{{character}}]
                </div>
                <label class="breaktime-state{{#if state}} back{{/if}}">{{#if state}}準備好了{{else}}暫離{{/if}}</label>
            </div>
        </div>
        {{/each}}
    </div>
    <button id="breaktime-btn">{{#if my.state}}再次暫離{{else}}我回來了{{/if}}</button>
</div>
